body {
    margin-top: 70px;
}

.hero {
    background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836") center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
}
